<div class="row-fluid">
	<div class="span3 col-lg-3">
		<ul class="fa-icons">
			<li><i class="fa fa-glass"></i> fa fa-glass</li>
			<li><i class="fa fa-music"></i> fa fa-music</li>
			<li><i class="fa fa-search"></i> fa fa-search</li>
			<li><i class="fa fa-envelope-o"></i> fa fa-envelope-o</li>
			<li><i class="fa fa-heart"></i> fa fa-heart</li>
			<li><i class="fa fa-star"></i> fa fa-star</li>
			<li><i class="fa fa-star-o"></i> fa fa-star-o</li>
			<li><i class="fa fa-user"></i> fa fa-user</li>
			<li><i class="fa fa-film"></i> fa fa-film</li>
			<li><i class="fa fa-th-large"></i> fa fa-th-large</li>
			<li><i class="fa fa-th"></i> fa fa-th</li>
			<li><i class="fa fa-th-list"></i> fa fa-th-list</li>
			<li><i class="fa fa-check"></i> fa fa-check</li>
			<li><i class="fa fa-times"></i> fa fa-times</li>
			<li><i class="fa fa-search-plus"></i> fa fa-search-plus</li>
			<li><i class="fa fa-search-minus"></i> fa fa-search-minus</li>
			<li><i class="fa fa-power-off"></i> fa fa-power-off</li>
			<li><i class="fa fa-signal"></i> fa fa-signal</li>
			<li><i class="fa fa-gear"></i> fa fa-gear</li>
			<li><i class="fa fa-cog"></i> fa fa-cog</li>
			<li><i class="fa fa-trash-o"></i> fa fa-trash-o</li>
			<li><i class="fa fa-home"></i> fa fa-home</li>
			<li><i class="fa fa-file-o"></i> fa fa-file-o</li>
			<li><i class="fa fa-clock-o"></i> fa fa-clock-o</li>
			<li><i class="fa fa-road"></i> fa fa-road</li>
			<li><i class="fa fa-download"></i> fa fa-download</li>
			<li><i class="fa fa-arrow-circle-o-down"></i> fa fa-arrow-circle-o-down</li>
			<li><i class="fa fa-arrow-circle-o-up"></i> fa fa-arrow-circle-o-up</li>
			<li><i class="fa fa-inbox"></i> fa fa-inbox</li>
			<li><i class="fa fa-play-circle-o"></i> fa fa-play-circle-o</li>
			<li><i class="fa fa-rotate-right"></i> fa fa-rotate-right</li>
			<li><i class="fa fa-repeat"></i> fa fa-repeat</li>
			<li><i class="fa fa-refresh"></i> fa fa-refresh</li>
			<li><i class="fa fa-list-alt"></i> fa fa-list-alt</li>
			<li><i class="fa fa-lock"></i> fa fa-lock</li>
			<li><i class="fa fa-flag"></i> fa fa-flag</li>
			<li><i class="fa fa-headphones"></i> fa fa-headphones</li>
			<li><i class="fa fa-volume-off"></i> fa fa-volume-off</li>
			<li><i class="fa fa-volume-down"></i> fa fa-volume-down</li>
			<li><i class="fa fa-volume-up"></i> fa fa-volume-up</li>
			<li><i class="fa fa-qrcode"></i> fa fa-qrcode</li>
			<li><i class="fa fa-barcode"></i> fa fa-barcode</li>
			<li><i class="fa fa-tag"></i> fa fa-tag</li>
			<li><i class="fa fa-tags"></i> fa fa-tags</li>
			<li><i class="fa fa-book"></i> fa fa-book</li>
			<li><i class="fa fa-bookmark"></i> fa fa-bookmark</li>
			<li><i class="fa fa-print"></i> fa fa-print</li>
			<li><i class="fa fa-camera"></i> fa fa-camera</li>
			<li><i class="fa fa-font"></i> fa fa-font</li>
			<li><i class="fa fa-bold"></i> fa fa-bold</li>
			<li><i class="fa fa-italic"></i> fa fa-italic</li>
			<li><i class="fa fa-text-height"></i> fa fa-text-height</li>
			<li><i class="fa fa-text-width"></i> fa fa-text-width</li>
			<li><i class="fa fa-align-left"></i> fa fa-align-left</li>
			<li><i class="fa fa-align-center"></i> fa fa-align-center</li>
			<li><i class="fa fa-align-right"></i> fa fa-align-right</li>
			<li><i class="fa fa-align-justify"></i> fa fa-align-justify</li>
			<li><i class="fa fa-list"></i> fa fa-list</li>
			<li><i class="fa fa-dedent"></i> fa fa-dedent</li>
			<li><i class="fa fa-outdent"></i> fa fa-outdent</li>
			<li><i class="fa fa-indent"></i> fa fa-indent</li>
			<li><i class="fa fa-video-camera"></i> fa fa-video-camera</li>
			<li><i class="fa fa-picture-o"></i> fa fa-picture-o</li>
			<li><i class="fa fa-pencil"></i> fa fa-pencil</li>
			<li><i class="fa fa-map-marker"></i> fa fa-map-marker</li>
			<li><i class="fa fa-adjust"></i> fa fa-adjust</li>
			<li><i class="fa fa-tint"></i> fa fa-tint</li>
			<li><i class="fa fa-edit"></i> fa fa-edit</li>
			<li><i class="fa fa-pencil-square-o"></i> fa fa-pencil-square-o</li>
			<li><i class="fa fa-share-square-o"></i> fa fa-share-square-o</li>
			<li><i class="fa fa-check-square-o"></i> fa fa-check-square-o</li>
			<li><i class="fa fa-arrows"></i> fa fa-arrows</li>
			<li><i class="fa fa-step-backward"></i> fa fa-step-backward</li>
			<li><i class="fa fa-fast-backward"></i> fa fa-fast-backward</li>
			<li><i class="fa fa-backward"></i> fa fa-backward</li>
			<li><i class="fa fa-play"></i> fa fa-play</li>
			<li><i class="fa fa-pause"></i> fa fa-pause</li>
			<li><i class="fa fa-stop"></i> fa fa-stop</li>
			<li><i class="fa fa-forward"></i> fa fa-forward</li>
			<li><i class="fa fa-fast-forward"></i> fa fa-fast-forward</li>
			<li><i class="fa fa-step-forward"></i> fa fa-step-forward</li>
			<li><i class="fa fa-eject"></i> fa fa-eject</li>
			<li><i class="fa fa-chevron-left"></i> fa fa-chevron-left</li>
			<li><i class="fa fa-chevron-right"></i> fa fa-chevron-right</li>
			<li><i class="fa fa-plus-circle"></i> fa fa-plus-circle</li>
			<li><i class="fa fa-minus-circle"></i> fa fa-minus-circle</li>
			<li><i class="fa fa-times-circle"></i> fa fa-times-circle</li>
			<li><i class="fa fa-check-circle"></i> fa fa-check-circle</li>
			<li><i class="fa fa-question-circle"></i> fa fa-question-circle</li>
			<li><i class="fa fa-info-circle"></i> fa fa-info-circle</li>
			<li><i class="fa fa-crosshairs"></i> fa fa-crosshairs</li>
			<li><i class="fa fa-times-circle-o"></i> fa fa-times-circle-o</li>
			<li><i class="fa fa-check-circle-o"></i> fa fa-check-circle-o</li>
			<li><i class="fa fa-ban"></i> fa fa-ban</li>
			<li><i class="fa fa-arrow-left"></i> fa fa-arrow-left</li>
			<li><i class="fa fa-arrow-right"></i> fa fa-arrow-right</li>
			<li><i class="fa fa-arrow-up"></i> fa fa-arrow-up</li>
			<li><i class="fa fa-arrow-down"></i> fa fa-arrow-down</li>
			<li><i class="fa fa-mail-forward"></i> fa fa-mail-forward</li>
			<li><i class="fa fa-share"></i> fa fa-share</li>
			<li><i class="fa fa-expand"></i> fa fa-expand</li>
			<li><i class="fa fa-compress"></i> fa fa-compress</li>
			<li><i class="fa fa-plus"></i> fa fa-plus</li>
		</ul>
	</div>
	<div class="span3 col-lg-3">
		<ul class="fa-icons">
			<li><i class="fa fa-minus"></i> fa fa-minus</li>
			<li><i class="fa fa-asterisk"></i> fa fa-asterisk</li>
			<li><i class="fa fa-exclamation-circle"></i> fa fa-exclamation-circle</li>
			<li><i class="fa fa-gift"></i> fa fa-gift</li>
			<li><i class="fa fa-leaf"></i> fa fa-leaf</li>
			<li><i class="fa fa-fire"></i> fa fa-fire</li>
			<li><i class="fa fa-eye"></i> fa fa-eye</li>
			<li><i class="fa fa-eye-slash"></i> fa fa-eye-slash</li>
			<li><i class="fa fa-warning"></i> fa fa-warning</li>
			<li><i class="fa fa-exclamation-triangle"></i> fa fa-exclamation-triangle</li>
			<li><i class="fa fa-plane"></i> fa fa-plane</li>
			<li><i class="fa fa-calendar"></i> fa fa-calendar</li>
			<li><i class="fa fa-random"></i> fa fa-random</li>
			<li><i class="fa fa-comment"></i> fa fa-comment</li>
			<li><i class="fa fa-magnet"></i> fa fa-magnet</li>
			<li><i class="fa fa-chevron-up"></i> fa fa-chevron-up</li>
			<li><i class="fa fa-chevron-down"></i> fa fa-chevron-down</li>
			<li><i class="fa fa-retweet"></i> fa fa-retweet</li>
			<li><i class="fa fa-shopping-cart"></i> fa fa-shopping-cart</li>
			<li><i class="fa fa-folder"></i> fa fa-folder</li>
			<li><i class="fa fa-folder-open"></i> fa fa-folder-open</li>
			<li><i class="fa fa-arrows-v"></i> fa fa-arrows-v</li>
			<li><i class="fa fa-arrows-h"></i> fa fa-arrows-h</li>
			<li><i class="fa fa-bar-chart-o"></i> fa fa-bar-chart-o</li>
			<li><i class="fa fa-twitter-square"></i> fa fa-twitter-square</li>
			<li><i class="fa fa-facebook-square"></i> fa fa-facebook-square</li>
			<li><i class="fa fa-camera-retro"></i> fa fa-camera-retro</li>
			<li><i class="fa fa-key"></i> fa fa-key</li>
			<li><i class="fa fa-gears"></i> fa fa-gears</li>
			<li><i class="fa fa-cogs"></i> fa fa-cogs</li>
			<li><i class="fa fa-comments"></i> fa fa-comments</li>
			<li><i class="fa fa-thumbs-o-up"></i> fa fa-thumbs-o-up</li>
			<li><i class="fa fa-thumbs-o-down"></i> fa fa-thumbs-o-down</li>
			<li><i class="fa fa-star-half"></i> fa fa-star-half</li>
			<li><i class="fa fa-heart-o"></i> fa fa-heart-o</li>
			<li><i class="fa fa-sign-out"></i> fa fa-sign-out</li>
			<li><i class="fa fa-linkedin-square"></i> fa fa-linkedin-square</li>
			<li><i class="fa fa-thumb-tack"></i> fa fa-thumb-tack</li>
			<li><i class="fa fa-external-link"></i> fa fa-external-link</li>
			<li><i class="fa fa-sign-in"></i> fa fa-sign-in</li>
			<li><i class="fa fa-trophy"></i> fa fa-trophy</li>
			<li><i class="fa fa-github-square"></i> fa fa-github-square</li>
			<li><i class="fa fa-upload"></i> fa fa-upload</li>
			<li><i class="fa fa-lemon-o"></i> fa fa-lemon-o</li>
			<li><i class="fa fa-phone"></i> fa fa-phone</li>
			<li><i class="fa fa-square-o"></i> fa fa-square-o</li>
			<li><i class="fa fa-bookmark-o"></i> fa fa-bookmark-o</li>
			<li><i class="fa fa-phone-square"></i> fa fa-phone-square</li>
			<li><i class="fa fa-twitter"></i> fa fa-twitter</li>
			<li><i class="fa fa-facebook"></i> fa fa-facebook</li>
			<li><i class="fa fa-github"></i> fa fa-github</li>
			<li><i class="fa fa-unlock"></i> fa fa-unlock</li>
			<li><i class="fa fa-credit-card"></i> fa fa-credit-card</li>
			<li><i class="fa fa-rss"></i> fa fa-rss</li>
			<li><i class="fa fa-hdd-o"></i> fa fa-hdd-o</li>
			<li><i class="fa fa-bullhorn"></i> fa fa-bullhorn</li>
			<li><i class="fa fa-bell"></i> fa fa-bell</li>
			<li><i class="fa fa-certificate"></i> fa fa-certificate</li>
			<li><i class="fa fa-hand-o-right"></i> fa fa-hand-o-right</li>
			<li><i class="fa fa-hand-o-left"></i> fa fa-hand-o-left</li>
			<li><i class="fa fa-hand-o-up"></i> fa fa-hand-o-up</li>
			<li><i class="fa fa-hand-o-down"></i> fa fa-hand-o-down</li>
			<li><i class="fa fa-arrow-circle-left"></i> fa fa-arrow-circle-left</li>
			<li><i class="fa fa-arrow-circle-right"></i> fa fa-arrow-circle-right</li>
			<li><i class="fa fa-arrow-circle-up"></i> fa fa-arrow-circle-up</li>
			<li><i class="fa fa-arrow-circle-down"></i> fa fa-arrow-circle-down</li>
			<li><i class="fa fa-globe"></i> fa fa-globe</li>
			<li><i class="fa fa-wrench"></i> fa fa-wrench</li>
			<li><i class="fa fa-tasks"></i> fa fa-tasks</li>
			<li><i class="fa fa-filter"></i> fa fa-filter</li>
			<li><i class="fa fa-briefcase"></i> fa fa-briefcase</li>
			<li><i class="fa fa-arrows-alt"></i> fa fa-arrows-alt</li>
			<li><i class="fa fa-group"></i> fa fa-group</li>
			<li><i class="fa fa-users"></i> fa fa-users</li>
			<li><i class="fa fa-chain"></i> fa fa-chain</li>
			<li><i class="fa fa-link"></i> fa fa-link</li>
			<li><i class="fa fa-cloud"></i> fa fa-cloud</li>
			<li><i class="fa fa-flask"></i> fa fa-flask</li>
			<li><i class="fa fa-cut"></i> fa fa-cut</li>
			<li><i class="fa fa-scissors"></i> fa fa-scissors</li>
			<li><i class="fa fa-copy"></i> fa fa-copy</li>
			<li><i class="fa fa-files-o"></i> fa fa-files-o</li>
			<li><i class="fa fa-paperclip"></i> fa fa-paperclip</li>
			<li><i class="fa fa-save"></i> fa fa-save</li>
			<li><i class="fa fa-floppy-o"></i> fa fa-floppy-o</li>
			<li><i class="fa fa-square"></i> fa fa-square</li>
			<li><i class="fa fa-bars"></i> fa fa-bars</li>
			<li><i class="fa fa-list-ul"></i> fa fa-list-ul</li>
			<li><i class="fa fa-list-ol"></i> fa fa-list-ol</li>
			<li><i class="fa fa-strikethrough"></i> fa fa-strikethrough</li>
			<li><i class="fa fa-underline"></i> fa fa-underline</li>
			<li><i class="fa fa-table"></i> fa fa-table</li>
			<li><i class="fa fa-magic"></i> fa fa-magic</li>
			<li><i class="fa fa-truck"></i> fa fa-truck</li>
			<li><i class="fa fa-pinterest"></i> fa fa-pinterest</li>
			<li><i class="fa fa-pinterest-square"></i> fa fa-pinterest-square</li>
			<li><i class="fa fa-google-plus-square"></i> fa fa-google-plus-square</li>
			<li><i class="fa fa-google-plus"></i> fa fa-google-plus</li>
			<li><i class="fa fa-money"></i> fa fa-money</li>
			<li><i class="fa fa-caret-down"></i> fa fa-caret-down</li>
			<li><i class="fa fa-caret-up"></i> fa fa-caret-up</li>
			<li><i class="fa fa-caret-left"></i> fa fa-caret-left</li>
		</ul>
	</div>
	<div class="span3 col-lg-3">
		<ul class="fa-icons">
			<li><i class="fa fa-caret-right"></i> fa fa-caret-right</li>
			<li><i class="fa fa-columns"></i> fa fa-columns</li>
			<li><i class="fa fa-unsorted"></i> fa fa-unsorted</li>
			<li><i class="fa fa-sort"></i> fa fa-sort</li>
			<li><i class="fa fa-sort-down"></i> fa fa-sort-down</li>
			<li><i class="fa fa-sort-asc"></i> fa fa-sort-asc</li>
			<li><i class="fa fa-sort-up"></i> fa fa-sort-up</li>
			<li><i class="fa fa-sort-desc"></i> fa fa-sort-desc</li>
			<li><i class="fa fa-envelope"></i> fa fa-envelope</li>
			<li><i class="fa fa-linkedin"></i> fa fa-linkedin</li>
			<li><i class="fa fa-rotate-left"></i> fa fa-rotate-left</li>
			<li><i class="fa fa-undo"></i> fa fa-undo</li>
			<li><i class="fa fa-legal"></i> fa fa-legal</li>
			<li><i class="fa fa-gavel"></i> fa fa-gavel</li>
			<li><i class="fa fa-dashboard"></i> fa fa-dashboard</li>
			<li><i class="fa fa-tachometer"></i> fa fa-tachometer</li>
			<li><i class="fa fa-comment-o"></i> fa fa-comment-o</li>
			<li><i class="fa fa-comments-o"></i> fa fa-comments-o</li>
			<li><i class="fa fa-flash"></i> fa fa-flash</li>
			<li><i class="fa fa-bolt"></i> fa fa-bolt</li>
			<li><i class="fa fa-sitemap"></i> fa fa-sitemap</li>
			<li><i class="fa fa-umbrella"></i> fa fa-umbrella</li>
			<li><i class="fa fa-paste"></i> fa fa-paste</li>
			<li><i class="fa fa-clipboard"></i> fa fa-clipboard</li>
			<li><i class="fa fa-lightbulb-o"></i> fa fa-lightbulb-o</li>
			<li><i class="fa fa-exchange"></i> fa fa-exchange</li>
			<li><i class="fa fa-cloud-download"></i> fa fa-cloud-download</li>
			<li><i class="fa fa-cloud-upload"></i> fa fa-cloud-upload</li>
			<li><i class="fa fa-user-md"></i> fa fa-user-md</li>
			<li><i class="fa fa-stethoscope"></i> fa fa-stethoscope</li>
			<li><i class="fa fa-suitcase"></i> fa fa-suitcase</li>
			<li><i class="fa fa-bell-o"></i> fa fa-bell-o</li>
			<li><i class="fa fa-coffee"></i> fa fa-coffee</li>
			<li><i class="fa fa-cutlery"></i> fa fa-cutlery</li>
			<li><i class="fa fa-file-text-o"></i> fa fa-file-text-o</li>
			<li><i class="fa fa-building-o"></i> fa fa-building-o</li>
			<li><i class="fa fa-hospital-o"></i> fa fa-hospital-o</li>
			<li><i class="fa fa-ambulance"></i> fa fa-ambulance</li>
			<li><i class="fa fa-medkit"></i> fa fa-medkit</li>
			<li><i class="fa fa-fighter-jet"></i> fa fa-fighter-jet</li>
			<li><i class="fa fa-beer"></i> fa fa-beer</li>
			<li><i class="fa fa-h-square"></i> fa fa-h-square</li>
			<li><i class="fa fa-plus-square"></i> fa fa-plus-square</li>
			<li><i class="fa fa-angle-double-left"></i> fa fa-angle-double-left</li>
			<li><i class="fa fa-angle-double-right"></i> fa fa-angle-double-right</li>
			<li><i class="fa fa-angle-double-up"></i> fa fa-angle-double-up</li>
			<li><i class="fa fa-angle-double-down"></i> fa fa-angle-double-down</li>
			<li><i class="fa fa-angle-left"></i> fa fa-angle-left</li>
			<li><i class="fa fa-angle-right"></i> fa fa-angle-right</li>
			<li><i class="fa fa-angle-up"></i> fa fa-angle-up</li>
			<li><i class="fa fa-angle-down"></i> fa fa-angle-down</li>
			<li><i class="fa fa-desktop"></i> fa fa-desktop</li>
			<li><i class="fa fa-laptop"></i> fa fa-laptop</li>
			<li><i class="fa fa-tablet"></i> fa fa-tablet</li>
			<li><i class="fa fa-mobile-phone"></i> fa fa-mobile-phone</li>
			<li><i class="fa fa-mobile"></i> fa fa-mobile</li>
			<li><i class="fa fa-circle-o"></i> fa fa-circle-o</li>
			<li><i class="fa fa-quote-left"></i> fa fa-quote-left</li>
			<li><i class="fa fa-quote-right"></i> fa fa-quote-right</li>
			<li><i class="fa fa-spinner"></i> fa fa-spinner</li>
			<li><i class="fa fa-circle"></i> fa fa-circle</li>
			<li><i class="fa fa-mail-reply"></i> fa fa-mail-reply</li>
			<li><i class="fa fa-reply"></i> fa fa-reply</li>
			<li><i class="fa fa-github-alt"></i> fa fa-github-alt</li>
			<li><i class="fa fa-folder-o"></i> fa fa-folder-o</li>
			<li><i class="fa fa-folder-open-o"></i> fa fa-folder-open-o</li>
			<li><i class="fa fa-smile-o"></i> fa fa-smile-o</li>
			<li><i class="fa fa-frown-o"></i> fa fa-frown-o</li>
			<li><i class="fa fa-meh-o"></i> fa fa-meh-o</li>
			<li><i class="fa fa-gamepad"></i> fa fa-gamepad</li>
			<li><i class="fa fa-keyboard-o"></i> fa fa-keyboard-o</li>
			<li><i class="fa fa-flag-o"></i> fa fa-flag-o</li>
			<li><i class="fa fa-flag-checkered"></i> fa fa-flag-checkered</li>
			<li><i class="fa fa-terminal"></i> fa fa-terminal</li>
			<li><i class="fa fa-code"></i> fa fa-code</li>
			<li><i class="fa fa-reply-all"></i> fa fa-reply-all</li>
			<li><i class="fa fa-mail-reply-all"></i> fa fa-mail-reply-all</li>
			<li><i class="fa fa-star-half-empty"></i> fa fa-star-half-empty</li>
			<li><i class="fa fa-star-half-full"></i> fa fa-star-half-full</li>
			<li><i class="fa fa-star-half-o"></i> fa fa-star-half-o</li>
			<li><i class="fa fa-location-arrow"></i> fa fa-location-arrow</li>
			<li><i class="fa fa-crop"></i> fa fa-crop</li>
			<li><i class="fa fa-code-fork"></i> fa fa-code-fork</li>
			<li><i class="fa fa-unlink"></i> fa fa-unlink</li>
			<li><i class="fa fa-chain-broken"></i> fa fa-chain-broken</li>
			<li><i class="fa fa-question"></i> fa fa-question</li>
			<li><i class="fa fa-info"></i> fa fa-info</li>
			<li><i class="fa fa-exclamation"></i> fa fa-exclamation</li>
			<li><i class="fa fa-superscript"></i> fa fa-superscript</li>
			<li><i class="fa fa-subscript"></i> fa fa-subscript</li>
			<li><i class="fa fa-eraser"></i> fa fa-eraser</li>
			<li><i class="fa fa-puzzle-piece"></i> fa fa-puzzle-piece</li>
			<li><i class="fa fa-microphone"></i> fa fa-microphone</li>
			<li><i class="fa fa-microphone-slash"></i> fa fa-microphone-slash</li>
			<li><i class="fa fa-shield"></i> fa fa-shield</li>
			<li><i class="fa fa-calendar-o"></i> fa fa-calendar-o</li>
			<li><i class="fa fa-fire-extinguisher"></i> fa fa-fire-extinguisher</li>
			<li><i class="fa fa-rocket"></i> fa fa-rocket</li>
			<li><i class="fa fa-maxcdn"></i> fa fa-maxcdn</li>
			<li><i class="fa fa-chevron-circle-left"></i> fa fa-chevron-circle-left</li>
			<li><i class="fa fa-chevron-circle-right"></i> fa fa-chevron-circle-right</li>
			<li><i class="fa fa-chevron-circle-up"></i> fa fa-chevron-circle-up</li>
		</ul>
	</div>
	<div class="span3 col-lg-3">
		<ul class="fa-icons">
			<li><i class="fa fa-chevron-circle-down"></i> fa fa-chevron-circle-down</li>
			<li><i class="fa fa-html5"></i> fa fa-html5</li>
			<li><i class="fa fa-css3"></i> fa fa-css3</li>
			<li><i class="fa fa-anchor"></i> fa fa-anchor</li>
			<li><i class="fa fa-unlock-alt"></i> fa fa-unlock-alt</li>
			<li><i class="fa fa-bullseye"></i> fa fa-bullseye</li>
			<li><i class="fa fa-ellipsis-h"></i> fa fa-ellipsis-h</li>
			<li><i class="fa fa-ellipsis-v"></i> fa fa-ellipsis-v</li>
			<li><i class="fa fa-rss-square"></i> fa fa-rss-square</li>
			<li><i class="fa fa-play-circle"></i> fa fa-play-circle</li>
			<li><i class="fa fa-ticket"></i> fa fa-ticket</li>
			<li><i class="fa fa-minus-square"></i> fa fa-minus-square</li>
			<li><i class="fa fa-minus-square-o"></i> fa fa-minus-square-o</li>
			<li><i class="fa fa-level-up"></i> fa fa-level-up</li>
			<li><i class="fa fa-level-down"></i> fa fa-level-down</li>
			<li><i class="fa fa-check-square"></i> fa fa-check-square</li>
			<li><i class="fa fa-pencil-square"></i> fa fa-pencil-square</li>
			<li><i class="fa fa-external-link-square"></i> fa fa-external-link-square</li>
			<li><i class="fa fa-share-square"></i> fa fa-share-square</li>
			<li><i class="fa fa-compass"></i> fa fa-compass</li>
			<li><i class="fa fa-toggle-down"></i> fa fa-toggle-down</li>
			<li><i class="fa fa-caret-square-o-down"></i> fa fa-caret-square-o-down</li>
			<li><i class="fa fa-toggle-up"></i> fa fa-toggle-up</li>
			<li><i class="fa fa-caret-square-o-up"></i> fa fa-caret-square-o-up</li>
			<li><i class="fa fa-toggle-right"></i> fa fa-toggle-right</li>
			<li><i class="fa fa-caret-square-o-right"></i> fa fa-caret-square-o-right</li>
			<li><i class="fa fa-euro"></i> fa fa-euro</li>
			<li><i class="fa fa-eur"></i> fa fa-eur</li>
			<li><i class="fa fa-gbp"></i> fa fa-gbp</li>
			<li><i class="fa fa-dollar"></i> fa fa-dollar</li>
			<li><i class="fa fa-usd"></i> fa fa-usd</li>
			<li><i class="fa fa-rupee"></i> fa fa-rupee</li>
			<li><i class="fa fa-inr"></i> fa fa-inr</li>
			<li><i class="fa fa-cny"></i> fa fa-cny</li>
			<li><i class="fa fa-rmb"></i> fa fa-rmb</li>
			<li><i class="fa fa-yen"></i> fa fa-yen</li>
			<li><i class="fa fa-jpy"></i> fa fa-jpy</li>
			<li><i class="fa fa-ruble"></i> fa fa-ruble</li>
			<li><i class="fa fa-rouble"></i> fa fa-rouble</li>
			<li><i class="fa fa-rub"></i> fa fa-rub</li>
			<li><i class="fa fa-won"></i> fa fa-won</li>
			<li><i class="fa fa-krw"></i> fa fa-krw</li>
			<li><i class="fa fa-bitcoin"></i> fa fa-bitcoin</li>
			<li><i class="fa fa-btc"></i> fa fa-btc</li>
			<li><i class="fa fa-file"></i> fa fa-file</li>
			<li><i class="fa fa-file-text"></i> fa fa-file-text</li>
			<li><i class="fa fa-sort-alpha-asc"></i> fa fa-sort-alpha-asc</li>
			<li><i class="fa fa-sort-alpha-desc"></i> fa fa-sort-alpha-desc</li>
			<li><i class="fa fa-sort-amount-asc"></i> fa fa-sort-amount-asc</li>
			<li><i class="fa fa-sort-amount-desc"></i> fa fa-sort-amount-desc</li>
			<li><i class="fa fa-sort-numeric-asc"></i> fa fa-sort-numeric-asc</li>
			<li><i class="fa fa-sort-numeric-desc"></i> fa fa-sort-numeric-desc</li>
			<li><i class="fa fa-thumbs-up"></i> fa fa-thumbs-up</li>
			<li><i class="fa fa-thumbs-down"></i> fa fa-thumbs-down</li>
			<li><i class="fa fa-youtube-square"></i> fa fa-youtube-square</li>
			<li><i class="fa fa-youtube"></i> fa fa-youtube</li>
			<li><i class="fa fa-xing"></i> fa fa-xing</li>
			<li><i class="fa fa-xing-square"></i> fa fa-xing-square</li>
			<li><i class="fa fa-youtube-play"></i> fa fa-youtube-play</li>
			<li><i class="fa fa-dropbox"></i> fa fa-dropbox</li>
			<li><i class="fa fa-stack-overflow"></i> fa fa-stack-overflow</li>
			<li><i class="fa fa-instagram"></i> fa fa-instagram</li>
			<li><i class="fa fa-flickr"></i> fa fa-flickr</li>
			<li><i class="fa fa-adn"></i> fa fa-adn</li>
			<li><i class="fa fa-bitbucket"></i> fa fa-bitbucket</li>
			<li><i class="fa fa-bitbucket-square"></i> fa fa-bitbucket-square</li>
			<li><i class="fa fa-tumblr"></i> fa fa-tumblr</li>
			<li><i class="fa fa-tumblr-square"></i> fa fa-tumblr-square</li>
			<li><i class="fa fa-long-arrow-down"></i> fa fa-long-arrow-down</li>
			<li><i class="fa fa-long-arrow-up"></i> fa fa-long-arrow-up</li>
			<li><i class="fa fa-long-arrow-left"></i> fa fa-long-arrow-left</li>
			<li><i class="fa fa-long-arrow-right"></i> fa fa-long-arrow-right</li>
			<li><i class="fa fa-apple"></i> fa fa-apple</li>
			<li><i class="fa fa-windows"></i> fa fa-windows</li>
			<li><i class="fa fa-android"></i> fa fa-android</li>
			<li><i class="fa fa-linux"></i> fa fa-linux</li>
			<li><i class="fa fa-dribbble"></i> fa fa-dribbble</li>
			<li><i class="fa fa-skype"></i> fa fa-skype</li>
			<li><i class="fa fa-foursquare"></i> fa fa-foursquare</li>
			<li><i class="fa fa-trello"></i> fa fa-trello</li>
			<li><i class="fa fa-female"></i> fa fa-female</li>
			<li><i class="fa fa-male"></i> fa fa-male</li>
			<li><i class="fa fa-gittip"></i> fa fa-gittip</li>
			<li><i class="fa fa-sun-o"></i> fa fa-sun-o</li>
			<li><i class="fa fa-moon-o"></i> fa fa-moon-o</li>
			<li><i class="fa fa-archive"></i> fa fa-archive</li>
			<li><i class="fa fa-bug"></i> fa fa-bug</li>
			<li><i class="fa fa-vk"></i> fa fa-vk</li>
			<li><i class="fa fa-weibo"></i> fa fa-weibo</li>
			<li><i class="fa fa-renren"></i> fa fa-renren</li>
			<li><i class="fa fa-pagelines"></i> fa fa-pagelines</li>
			<li><i class="fa fa-stack-exchange"></i> fa fa-stack-exchange</li>
			<li><i class="fa fa-arrow-circle-o-right"></i> fa fa-arrow-circle-o-right</li>
			<li><i class="fa fa-arrow-circle-o-left"></i> fa fa-arrow-circle-o-left</li>
			<li><i class="fa fa-toggle-left"></i> fa fa-toggle-left</li>
			<li><i class="fa fa-caret-square-o-left"></i> fa fa-caret-square-o-left</li>
			<li><i class="fa fa-dot-circle-o"></i> fa fa-dot-circle-o</li>
			<li><i class="fa fa-wheelchair"></i> fa fa-wheelchair</li>
			<li><i class="fa fa-vimeo-square"></i> fa fa-vimeo-square</li>
			<li><i class="fa fa-turkish-lira"></i> fa fa-turkish-lira</li>
			<li><i class="fa fa-try"></i> fa fa-try</li>
			<li><i class="fa fa-plus-square-o"></i> fa fa-plus-square-o</li>
		</ul>
	</div>
</div>